###############
### FOLDERS ###
###############

BoGy/
codes/
#Datenbank/
Klasse_8/
Klasse_9/
Klasse_10/
#Kursstufe/
Lebenslauf/
Sozialpraktikum/


#############
### FILES ###
#############

AboSofort-Print-Ticket_1389764-20230611-200156-439.pdf